<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href=".\css\style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1 class="logo">Litres</h1>
        </div>
    </header>
    <main class="main">
        <section class="book-page">
            <div class="container">
                <h1 class="title">Choose your book</h1>
                <div class="row">
                    <div class="book-card">
                        <div class="book-img">
                            <img src="./images/1.jpeg" alt="">
                        </div>
                        <h3 class="book-name">Лисья нора</h3>
                        <h4 class="book-author">Нора Сакавич</h4>
                        <h4 class="book-price">2000 тг.</h4>
                    </div>
                    <div class="book-card">
                        <div class="book-img">
                            <img src="./images/2.jpeg" alt="">
                        </div>
                        <h3 class="book-name">Важные годы</h3>
                        <h4 class="book-author">Мэг Джей</h4>
                        <h4 class="book-price">3000 тг.</h4>
                    </div>
                    <div class="book-card">
                        <div class="book-img">
                            <img src="./images/3.jpeg" alt="">
                        </div>
                        <h3 class="book-name">Дюна</h3>
                        <h4 class="book-author">Фрэнк Герберт</h4>
                        <h4 class="book-price">1000 тг.</h4>
                    </div>
                    <div class="book-card">
                        <div class="book-img">
                            <img src="./images/4.jpeg" alt="">
                        </div>
                        <h3 class="book-name">Кафе на краю земли</h3>
                        <h4 class="book-author">Джон Стрелеки</h4>
                        <h4 class="book-price">2500 тг.</h4>
                    </div>
                    <div class="book-card">
                        <div class="book-img">
                            <img src="./images/5.jpeg" alt="">
                        </div>
                        <h3 class="book-name">Магическая уборка</h3>
                        <h4 class="book-author">Мари Кондо</h4>
                        <h4 class="book-price">4900 тг.</h4>
                    </div>
                    <div class="book-card">
                        <div class="book-img">
                            <img src="./images/6.jpeg" alt="">
                        </div>
                        <h3 class="book-name">Счастливчик</h3>
                        <h4 class="book-author">Николас Спаркс</h4>
                        <h4 class="book-price">1500 тг.</h4>
                    </div>
                    <div class="book-card">
                        <div class="book-img">
                            <img src="./images/7.jpeg" alt="">
                        </div>
                        <h3 class="book-name">Тревожные люди </h3>
                        <h4 class="book-author">Фредрик Бакман</h4>
                        <h4 class="book-price">2600 тг.</h4>
                    </div>
                    <div class="book-card">
                        <div class="book-img">
                            <img src="./images/8.jpeg" alt="">
                        </div>
                        <h3 class="book-name">Безмолвный пациент</h3>
                        <h4 class="book-author">Алекс Михаэлидес</h4>
                        <h4 class="book-price">3400 тг.</h4>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container">

        </div>
    </footer>
</body>
</html>